<div class="row">
    <div class="col col-sm-12 col-md-12 text-center pagination">
        {% if paginator.has_previous %}
            <a class="pagination-action" href="?page=1">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </a>
            <a class="pagination-action" href="?page={{ paginator.previous_page_number }}">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
        {% endif %}

        {% for num in paginator.page_range %}

            {% if paginator.current_page == num %}
                <span class="pagination-number pagination-current">{{ num }} of {{ paginator.num_pages }}</span>
            {% elif num > paginator.current_page|add:'-3' and num < paginator.current_page|add:'3' %}
                <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
            {% endif %}

        {% endfor %}

        {% if paginator.has_next %}
            <a class="pagination-action" href="?page={{ paginator.next_page_number }}">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="pagination-action" href="?page={{ paginator.num_pages }}">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        {% endif %}
    </div>
</div>
