{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>MWA Survey</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- Home styles -->
    <link rel="stylesheet" href="{% static 'style/styles.css' %}"/>
    {% block additional_styles %}
    {% endblock additional_styles %}

    <!-- Home JS -->
    {% block additional_javascript %}
    {% endblock additional_javascript %}

    <link href="https://fonts.googleapis.com/css?family=Arvo:400,700%7CSlabo+27px&effect=anaglyph" rel="stylesheet">
</head>
<body>
{% include 'base/header.html' %}

<div class="main-content">
    {% block main_content %}
    {% endblock main_content %}
</div>

{% include 'base/footer.html' %}

{% block javascript %}
{% endblock javascript %}
</body>
</html>
