.about .section {
    margin-bottom: 20px;
}

.about .section .heading {
    font-weight: 600;
    font-size: 1.2rem;
    color: saddlebrown;
}

.about .section.mwasurvey-logo img {
    max-width: 50%;
}

.table {
   margin: auto;
}
