.welcome {
    margin: 1.5em 0;
}

.welcome .section.mwasurvey-logo {
    margin: 1.8em 0;
}

.welcome img {
    width: 100%;
}

.welcome .slogan {
    color: #006FBD;
    font-weight: 600;
    font-size: large;
}

span.highlight {
    color: #dc3545;
    font-weight: 600;
    font-size: x-large;
}
