{% extends 'base/base.html' %}
{% load static %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'mwasurveyweb/style/form.css' %}"/>
{% endblock additional_styles %}

{% block page_header %}
    Search
{% endblock page_header %}


{% block content %}
    {{ block.super }}

    <form class="form-row" method="post" enctype="multipart/form-data">
        {{ form.media }}
        <div class="col-md-12">
            {% csrf_token %}
            {% include 'snippets/messages.html' %}

            <ul class="row search-forms">
            {% for form_data in search_forms %}
                <li class="col col-lg-6 col-md-12 col-sm-12 col-sx-12 col-12 search-form">
                {% if form_data.title %}
                    <div class="form-title">
                        {{ form_data.title }}
                    </div>
                {% endif %}

                {% if form_data.description %}
                    <div class="form-description">
                        {{ form_data.description }}
                    </div>
                {% endif %}

                {% with form_data.form as form %}
                    <div class="form-body">
                        {% include 'mwasurveyweb/search/search_form.html' %}
                    </div>
                {% endwith %}
                </li>
            {% endfor %}
            </ul>

            <div class="row">
                <div class="buttons col-md-12 text-md-right">
                    <input class="btn btn-warning" type="reset" tabindex="101" value="Reset"/>
                    <input class="btn btn-success" type="submit" tabindex="100" value="Search"/>
                </div>
            </div>

        </div>
    </form>

    <div class="job-list table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Obs ID</th>
                <th>Project ID</th>
                <th>Obs Name</th>
                <th>Start Time</th>
                <th>RA Pointing</th>
                <th>Dec Pointing</th>
                <th>Duration</th>
                <th>Creator</th>
                <th>Action(s)</th>
            </tr>
            </thead>
            <tbody>
            {% for result in search_results %}
                <tr class="text-primary">
                    <th scope="col" class="job-name"><a
                            href="">{{ result.obs_id }}</a></th>
                    <td>{% if drafts %}{{ mwasurvey_object.job.creation_time }}{% else %}
                        {{ mwasurvey_object.job.job_pending_time }}{% endif %}</td>
                    <td>{{ mwasurvey_object.job.last_updated }}</td>
                    {% if not drafts and not public and not deleted %}
                        <td>{{ mwasurvey_object.job.status_display }}</td>{% endif %}
                    {% if public or admin_view %}
                        <td>{{ mwasurvey_object.job.user.display_name }}</td>{% endif %}
                    <td>
                        View
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="pagination">

                {% if jobs.has_previous %}
                    <a class="pagination-action" href="?page=1">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                    <a class="pagination-action" href="?page={{ jobs.previous_page_number }}">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                {% endif %}

                {% for num in jobs.paginator.page_range %}

                    {% if jobs.number == num %}
                        <span class="pagination-number pagination-current">{{ num }} of {{ jobs.paginator.num_pages }}</span>
                    {% elif num > jobs.number|add:'-3' and num < jobs.number|add:'3' %}
                        <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}

                {% endfor %}

                {% if jobs.has_next %}
                    <a class="pagination-action" href="?page={{ jobs.next_page_number }}">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                    <a class="pagination-action" href="?page={{ jobs.paginator.num_pages }}">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
