{% extends 'base/base.html' %}
{% load static %}

{% block page_header %}
    Search
{% endblock page_header %}


{% block content %}
    {{ block.super }}

    <form class="form-row" method="post" enctype="multipart/form-data">
        {{ form.media }}
        <div class="col-md-12">
            {% csrf_token %}
            {% include 'snippets/messages.html' %}
            {% for form_data in search_forms %}

                {% if form_data.title %}
                    <div class="form-title">
                        {{ form_data.title }}
                    </div>
                {% endif %}

                {% if form_data.description %}
                    <div class="form-description">
                        {{ form_data.description }}
                    </div>
                {% endif %}

                {% with form_data.form as form %}
                    <div class="form-body">
                        {% include 'mwasurveyweb/search/search_form.html' %}
                    </div>
                {% endwith %}

            {% endfor %}

            <div class="row">
                <div class="buttons col-md-12 text-md-right">
                    <input class="btn btn-warning" type="reset" tabindex="101" value="Reset"/>
                    <input class="btn btn-success" type="submit" tabindex="100" value="Search"/>
                </div>
            </div>

        </div>
    </form>

    <div class="job-list table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th>{% if drafts %}Creation{% else %}Launch{% endif %} Time</th>
                <th>Last Updated</th>
                {% if not drafts and not public and not deleted %}
                    <th>Status</th>{% endif %}
                {% if public or admin_view %}
                    <th>Owner</th>{% endif %}
                <th>Action(s)</th>
            </tr>
            </thead>
            <tbody>
            {% for mwasurvey_object in jobs %}
                <tr class="text-{{ mwasurvey_object.job.status }}">
                    <th scope="col" class="job-name"><a
                            href="{% url 'job' mwasurvey_object.job.id %}">{{ mwasurvey_object.job.name }}</a></th>
                    <td>{% if drafts %}{{ mwasurvey_object.job.creation_time }}{% else %}
                        {{ mwasurvey_object.job.job_pending_time }}{% endif %}</td>
                    <td>{{ mwasurvey_object.job.last_updated }}</td>
                    {% if not drafts and not public and not deleted %}
                        <td>{{ mwasurvey_object.job.status_display }}</td>{% endif %}
                    {% if public or admin_view %}
                        <td>{{ mwasurvey_object.job.user.display_name }}</td>{% endif %}
                    <td>
                        {% if 'delete' in mwasurvey_object.job_actions %}
                            <a class="text-danger delete-job" data-toggle="modal" data-target="#deleteJob"
                               href="{% url 'delete_job' mwasurvey_object.job.id %}">Delete <i
                                    class="fas fa-trash-alt"></i></a>
                        {% endif %}
                        {% if 'edit' in mwasurvey_object.job_actions %}
                            <a class="text-primary" href="{% url 'edit_job' mwasurvey_object.job.id %}">Edit <i
                                    class="fas fa-edit"></i></a>
                        {% endif %}
                        {% if 'cancel' in mwasurvey_object.job_actions %}
                            <a class="text-dark cancel-job" data-toggle="modal" data-target="#cancelJob"
                               href="{% url 'cancel_job' mwasurvey_object.job.id %}">Cancel <i
                                    class="far fa-stop-circle"></i></a>
                        {% endif %}
                        {% if 'copy' in mwasurvey_object.job_actions %}
                            <a class="text-info" href="{% url 'copy_job' mwasurvey_object.job.id %}">Copy <i
                                    class="fas fa-clone"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal cancel job -->
    <div class="modal fade" id="cancelJob" tabindex="-1" role="dialog"
         aria-labelledby="cancelJobTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelJobLongTitle">Cancel Job</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>You are about to cancel the job named:</p>
                    <p class="job-name"></p>
                    <p>This means that, the job will stop processing and no further output will be generated. </p>
                    <p>Are you sure, you want to proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Not Now</button>
                    <a class="btn btn-dark cancel" href="">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal delete job -->
    <div class="modal fade" id="deleteJob" tabindex="-1" role="dialog"
         aria-labelledby="deleteJobTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteJobLongTitle">Delete Job</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>You are about to delete the job named:</p>
                    <p class="job-name"></p>
                    <p>This means that, everything related to the job and its data will
                        be deleted, and you will not be able to revert this process later. </p>
                    <p>Are you sure, you want to proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Not Now</button>
                    <a class="btn btn-danger delete" href="">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="pagination">

                {% if jobs.has_previous %}
                    <a class="pagination-action" href="?page=1">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                    <a class="pagination-action" href="?page={{ jobs.previous_page_number }}">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                {% endif %}

                {% for num in jobs.paginator.page_range %}

                    {% if jobs.number == num %}
                        <span class="pagination-number pagination-current">{{ num }} of {{ jobs.paginator.num_pages }}</span>
                    {% elif num > jobs.number|add:'-3' and num < jobs.number|add:'3' %}
                        <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}

                {% endfor %}

                {% if jobs.has_next %}
                    <a class="pagination-action" href="?page={{ jobs.next_page_number }}">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                    <a class="pagination-action" href="?page={{ jobs.paginator.num_pages }}">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
