{% extends 'base/base.html' %}
{% load static %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'mwasurveyweb/style/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'mwasurveyweb/style/form.css' %}"/>
{% endblock additional_styles %}

{% block page_header %}
    View {{ object_type }}
{% endblock page_header %}


{% block content %}
    {{ block.super }}

    <table>

    {% for key, value in entity.entity_attributes.items %}
        <tr>
           <td>{{ key }}</td>
           <td>{{ value }}</td>
        </tr>
    {% endfor %}

    </table>

{% endblock content %}
