{% extends 'base/base.html' %}
{% load static %}

{% block page_header %}
    Reset Password
{% endblock page_header %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'accounts/style/styles.css' %}"/>
{% endblock additional_styles %}

{% block content %}
    <form class="row" action="" method="post" enctype="multipart/form-data">
        <div class="col-md-12">
            {% csrf_token %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="single-form-wrapper mx-auto">
                <div class="row description">
                    <div class="col-md-12">To reset your password, enter your email address. An email describing
                        how to proceed, will be sent if the address is registered in our system.
                    </div>
                </div>
                <div class="row field">
                    <label class="col-md-4 text-md-right" for="email">Email</label>
                    <div class="col-md-4">
                        <input class="form-control" id="email" name="email" required placeholder="your@email.address">
                    </div>
                </div>
                <div class="row text-md-right">
                    <div class="buttons col-md-8">
                        <input class="btn btn-success" type="submit" value="Reset My Password"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
