{% extends 'base/base.html' %}

{% block page_header %}
    Password Change
{% endblock page_header %}

{% block content %}
    <div class="single-form-wrapper mx-auto">
        <div class="row">
            <div class="col-md-8 offset-md-4">
                Password Rules
                <ul>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Password cannot be:
                        <ul>
                            <li>too similar to your other personal information,</li>
                            <li>a commonly used password, or</li>
                            <li>be entirely numeric.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <form class="form-row" action="" method="post" enctype="multipart/form-data">
            <div class="col-md-12">
                {% csrf_token %}
                {% include 'snippets/messages.html' %}
                {% for field in form %}
                    <div class="row field {% if field.errors %}error{% endif %}">
                        <label class="col-md-4 text-md-right" for="{{ field.auto_id }}">{{ field.label }}</label>
                        <div class="col-md-8">
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
                <div class="row text-md-right">
                    <div class="buttons col-md-12 text-md-right">
                        <input class="btn btn-warning" type="reset" tabindex="101" value="Reset"/>
                        <input class="btn btn-success" type="submit" tabindex="100" value="Change My Password"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
