{% extends 'base/base.html' %}
{% load static  %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'mwasurveyweb/style/errors.css' %}"/>
{% endblock additional_styles %}

{% block main_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="error-template text-center">
                <div class="error-message">
                    Ah! Oh!
                </div>
                <div class="error-code">404 <span>Not Found</span></div>
                <div class="error-details">
                    Sorry, an error has occurred, Requested page not found!
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}
