{% extends 'base/base.html' %}
{% load static %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'mwasurveyweb/style/welcome.css' %}"/>
{% endblock additional_styles %}

{% block main_content %}
    <div class="container">
        <div class="welcome row">
            <div class="col col-md-12">
                <div class="section mwasurvey-logo row">
                    <div class="col col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-sm-6 offset-sm-3 col-12">
                        <img src="{% static 'mwasurveyweb/images/mwasurvey_logo.png' %}"/>
                    </div>
                </div>
                <div class="slogan text-center">
                    GLEAM-X: <span class="highlight">G</span>a<span class="highlight">L</span>actic and <span
                        class="highlight">E</span>xtragalactic <span class="highlight">A</span>ll-sky <span
                        class="highlight">M</span>WA survey - e<span class="highlight">X</span>tended
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}
