{% extends 'base/base-two-columns.html' %}
{% load static %}

{% block additional_javascript %}
    <script src="{% static 'mwasurveyweb/js/skyplots.js' %}"></script>
{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'mwasurveyweb/style/welcome.css' %}"/>
    <link rel="stylesheet" href="{% static 'mwasurveyweb/style/component-custom-switch.css' %}"/>
    <link rel="stylesheet" href="{% static 'mwasurveyweb/style/custom-switch-extension.css' %}"/>
{% endblock additional_styles %}

{% block content %}
    <div class="section mwasurvey-logo row">
        <div class="col col-md-12 col-lg-12 col-sm-12 col-sx-12 col-12">
            <div id="sky-plots" class="sky-plots">
                <img src="{% static '/images/skyplots/blank.png' %}" hidden />
                <img src="{% static '/images/skyplots/blue.png' %}" hidden />
                <img src="{% static '/images/skyplots/yellow.png' %}" hidden />
                <img src="{% static '/images/skyplots/light-grey.png' %}" hidden />
                <img src="{% static '/images/skyplots/blue_yellow.png' %}" hidden/>
                <img src="{% static '/images/skyplots/light-grey_yellow.png' %}" hidden/>
                <img src="{% static '/images/skyplots/blue_light-grey.png' %}" hidden/>
                <img src="{% static '/images/skyplots/blue_light-grey_yellow.png' %}" />
            </div>
        </div>
    </div>
{% endblock content %}

{% block info-bar %}
    <div class="custom-switch custom-switch-label-yesno custom-switch-sm row">
        <div class="col col-md-3 button">
            <input class="custom-switch-input" id="status_light-grey" name="status_light-grey" type="checkbox" checked/>
            <label class="custom-switch-btn" for="status_light-grey"></label>
        </div>
        <div class="col col-md-9 button-text light-grey">
            Show Unprocessed
        </div>
    </div>
    <div class="custom-switch custom-switch-label-yesno custom-switch-sm row">
        <div class="col col-md-3 button">
            <input class="custom-switch-input" id="status_yellow" name="status_yellow" type="checkbox" checked/>
            <label class="custom-switch-btn" for="status_yellow"></label>
        </div>
        <div class="col col-md-9 button-text yellow">
            Show Downloaded, Calibrated, Imaged
        </div>
    </div>
    <div class="custom-switch custom-switch-label-yesno custom-switch-sm row">
        <div class="col col-md-3 button">
            <input class="custom-switch-input" id="status_blue" name="status_blue" type="checkbox" checked/>
            <label class="custom-switch-btn" for="status_blue"></label>
        </div>
        <div class="col col-md-9 button-text blue">
            Show Archived
        </div>
    </div>
{% endblock info-bar %}
